<template name="postContent">
  <div class="post-info">
    <h3 class="post-heading">
      {{#each postHeading}}
        {{> UI.dynamic template=getTemplate data=..}}
      {{/each}}
    </h3>
      <div class="post-desc markdown">{{{htmlBody}}}</div>

      <div class="post-meta">
      {{#each postMeta}}
        {{> UI.dynamic template=getTemplate data=..}}
      {{/each}}
    </div>
  </div>
</template>