<template name="css">
  <style>
      body{
        background: {{getSetting "backgroundCSS"}};
      }
      input[type="submit"], button, .button, .auth-buttons #login-buttons #login-buttons-password, .btn, .error, .mobile-menu-button, .login-link-text{
        background-color: {{getSetting "buttonColor"}} !important;
        color: {{getSetting "buttonTextColor"}} !important;
      }
      a:hover, .post-content .post-heading .post-title:hover, .post-content .post-upvote .upvote-link i, .comment-actions a i, .comment-actions.upvoted .upvote i, .comment-actions.downvoted .downvote i, .toggle-actions-link, .post-desc{
        color: {{getSetting "buttonColor"}};
      }
      .toggle-actions-link{
        border-color: {{getSetting "buttonColor"}};
      }
      .post-content .post-upvote .upvote-link.voted i.icon-check{
        /*color: {{getSetting "secondaryColor"}};*/
      }
      .header{
        background-color: {{getSetting "headerColor"}};
        color: {{getSetting "headerTextColor"}};
      }
    .logo-image a{
      height:{{getSetting "logoHeight"}}px; 
      width:{{getSetting "logoWidth"}}px; 
    }
    .post-desc{
      text-overflow: ellipsis;
      height: 45px;
      overflow: hidden;
      word-wrap: break-word;
      word-break: break-all;
      display: inline-block;
    }
  </style>
</template>